rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {

    match /clinics/{code} {
      allow read, write: if false;
    }

    match /doctors/{id} {
      allow read: if request.auth.uid == id;
      allow write: if false;
    }

    match /sessions/{sid} {
      allow read: if request.auth.uid == resource.data.doctorId
                  || request.auth.uid == resource.data.patientId;
      allow create: if false;
      allow update: if request.auth.uid == resource.data.patientId
                    && request.resource.data.status == 'awaiting_approval';
    }

    match /sessions/{sid}/messages/{mid} {
      allow create, read: if request.auth.uid ==
        get(/databases/$(db)/documents/sessions/$(sid)).data.patientId
        || request.auth.uid == get(/databases/$(db)/documents/sessions/$(sid)).data.doctorId;
      allow update, delete: if false;
    }

    match /ratings/{rid} {
      allow create: if request.auth.uid == request.resource.data.doctorId;
      allow read, update, delete: if false;
    }
  }
}